name: Deploy on production server

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.2.3
        with:
          host: ${{secrets.SERVER_HOST}}
          username: ${{secrets.SERVER_USER}}
          key: ${{secrets.PRIVATE_KEY}}
          script: |

            cd /home/amir/projects/test-app

            echo "pulling new changes..."
            git pull origin main

            echo "install modules..."
            npm install

            echo "run new build..."
            npm run build

            echo "restart app..."
            pm2 restart my-app